<div class="sign-in">
  <div class="tab-content">
    <div id="sign-in-form" role="tabpanel" class="tab-pane active">
      <% if ENV["DMP_LOCAL_LOGIN"].to_s == "true" %>
        <%= render(partial: "shared/dev_sign_in_form") %>
      <% else %>
        <% if Rails.configuration.x.shibboleth.enabled %>
          <%= render(partial: "shared/sign_in_with_shibboleth") %>
        <% end %>
        <%= render(partial: "shared/sign_in_with_orcid") %>
      <% end %>
    </div>
  </div>
</div>
