<div class="sign-in">
  <div class="tab-content">
    <div id="sign-in-form" role="tabpanel" class="tab-pane active">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if Rails.env.production? %>
            <%= render(partial: "shared/sign_in_form") %>
          <% else %>
            <%= render(partial: "shared/dev_sign_in_form") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
