<div class="sign-in">
  <div class="tab-content">
    <div id="sign-in-form" role="tabpanel" class="tab-pane active">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'shared/sign_in_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
