<% if Rails.configuration.x.shibboleth.enabled %>
  <% if session['devise.shibboleth_data'].nil? %>
	<div class="col-md-6 panel" style="text-align:center">

      <h3>Sign in with your institutional account</h3>

      <% scheme = IdentifierScheme.find_by_name!("shibboleth") %>
      <% identifiers_list = Array.new() %>
      <% Org.includes(:identifiers)
            .where(managed:true)
            .order(name:"asc")
            .each do |org| %>

        <% identifiers = org.identifiers.select { |id| id.identifier_scheme_id == scheme.id } %>
        <% next if identifiers.empty? %>
        <% identifiers_list.push(identifiers[0]) %>

      <% end %>

        <%= select 'institution', "id",
          options_from_collection_for_select(identifiers_list,
          :value,
          :label),
          {},
          class: "form-control question_format",
          'data-toggle': 'tooltip',
          'data-html': true
        %>

    </div>

	<div class="col-md-6 panel" style="text-align:center">
        <h3>or with your ORCID iD</h3>
        <%= button_to(
              "Sign in with ORCID",
              Rails.application.routes.url_helpers.send("user_orcid_omniauth_authorize_path"), method: :post) %>
	</div>

  <% else %>
    <%= f.hidden_field :shibboleth_id, :value => session['devise.shibboleth_data']['uid'] %>
  <% end %>
<% end %>
