.navbar-inverse, .nav-branding {
  background-color: #444;
  color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-branding .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #444;
  background-color: white;
}

.navbar-inverse .navbar-nav>li>a, .navbar-branding .navbar-nav>li>a {
  color: white;
}

.inverse-dropdown {
  background-color: white !important;
  border-color: #444 !important;
}

.inverse-dropdown > li > a {
  color: #444 !important;
}

.inverse-dropdown > li > a:hover {
  background-color: #f5f5f5;
  color: #444;
}

#org-navbar {
  .navbar-nav li a {
    color: #1a1a1a;
  }
  .inverse-dropdown .active a {
    color: #FFF !important;
    background-color: #444 !important;
  }
  .dropdown-menu > .active > a {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: #107896 !important;
  }
}

#app-navbar {
  .dropdown-menu.inverse-dropdown > .active > a, .dropdown-menu.inverse-dropdown > li > a:hover  {
    color: #262626 !important;
    text-decoration: none;
    background-color: #f5f5f5 !important;
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: #107896 !important;
  }
}

.sign-in {
  margin-top: 30px;
}

#sign-in-form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
#sign-in-form > .panel {
  flex: 1;
  text-align: center;
  min-width: 350px;
}

/*
 fix button hover effect that enlarges button
*/

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:hover,
.btn-primary.active:hover {
  margin: 5px 0px 0px 0px;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:visited,
.btn-default:active:hover,
.btn-default.active:hover {
  margin: 5px 0px 0px 0px;
}
