# reinclude ignored files
!home/
!shared/
!layouts/
!devise/
!ugent/
!plans/
!orgs/
!contributors/
!paginable/
!user_mailer/
!org_admin/
!contact_us
!static_pages/
!public_pages/
!research_outputs/
!phases/
