<% title _("Welcome to #{ApplicationService.application_name}") %>
<div style="text-align:center">
  <h1><%= _("Welcome to #{ApplicationService.application_name}")%></h1>
  <p>
    <p>We can help you write and maintain data management plans for your research.</p>
    <p>This instance of DMPonline is provided by <a href="https://belnet.be">Belnet</a></p>
    <p>
      <a href="/contact-us">Interested in joining?</a>
    </p>
  </p>
</div>
