<% title _("Welcome to #{ApplicationService.application_name}") %>
<div style="text-align:center">
  <h1><%= _("Welcome to #{ApplicationService.application_name}")%></h1>
  <p>
    <p>We can help you write and maintain data management plans for your research.</p>
  </p>
</div>
