<% title _("Welcome to #{ApplicationService.application_name}.") %>
<div>
  <h1><%= _("Welcome to #{ApplicationService.application_name}.")%></h1>
  <p>
    <p>We can help you write and maintain data management plans for your research.</p>
    <p>This instance of DMPonline is provided by the DMPbelgium Consortium, which was founded in 2017 by:</p>
    <ul>
      <li>Instituut voor Natuur- en Bosonderzoek</li>
      <li>Université Libre de Bruxelles</li>
      <li>Universiteit Antwerpen</li>
      <li>Universiteit Gent</li>
      <li>Universiteit Hasselt</li>
      <li>Vrije Universiteit Brussel</li>
      <li>Wetenschappelijk Instituut Volksgezondheid – Institut Scientifique de Santé Publique (Sciensano)</li>
    </ul>
    <p>In 2018 they were joined by:</p>
    <ul>
      <li>Université Catholique de Louvain</li>
      <li>Université de Liège</li>
      <li>Université de Mons</li>
      <li>Université de Namur</li>
      <li>Vlaamse Instelling voor Technologisch Onderzoek</li>
    </ul>
    <p>Since then, the Consortium has been joined by:</p>
    <ul>
      <li>Arteveldehogeschool</li>
      <li>Instituut voor Landbouw-, Visserij- en Voedingsonderzoek</li>
      <li>Universitair Ziekenhuis Gent</li>
      <li>Vlaams Instituut voor de Zee</li>
      <li>Vlerick Business School</li>
    </ul>
    <p>
      <a href="/contact-us">Interested in joining the Consortium?</a>
    </p>
  </p>
</div>
