<% title _('Terms of use') %>
<h1>Disclaimer and terms of use of DMPonline.be</h1>

<div class="row">
  <div class="col-md-12">
    <h3>Copyright © 2023 Belnet.</h3>
    <p>DMPonline.be belongs to Belnet, WTC III, Boulevard Simon Bolivar 30, 1000 Brussels, Belgium, tel. 02/790.33.33, fax 02/790.33.34, email: <a href="mailto:info@belnet.be">info@belnet.be</a>, <a href="https://www.belnet.be/form/contact">contact form</a>.</p>

    <h3>Article 1 Object of this agreement</h3>
    <p>
    Without prejudice to the application of the general <a href="https://www.belnet.be/en/acceptable-use-policy-aup-belnet-internet-services">AUP</a> by the client, this Agreement contains the rules and conditions applicable to the use of DMPonline.be.
    By using this platform the user is bound by these terms.
    </p>

    <h3>Article 2 Use of DMPonline.be</h3>
    <p>The following is a specification of the use of DMPonline, in addition to the extensive explanation of the service on the admin and tech <a href="https://www.belnet.be/en/services-identity-mobility-federation-dmponlinebe/dmponlinebe-admin-faq">FAQ</a> of the Belnet website.</p>

    <h4>The data management plans and other contributions of the client</h4>
    <p>DMPonline.be is hosted at BELNET, which holds/stores the data management plans on behalf of the client on secure servers in Belgium. However, the plans are the property and responsibility of the client.</p>
    <p>The information the client enter into DMPonline.be can only be accessed by the client, people the client choose to share access with (e.g. collaborators), and – for the sole purpose of maintaining the service – system administrators appointed by Belnet. At any point in time, the client can decide to update or delete (parts of) his information stored by DMPonline.be. If the client decide he need to share this information in other contexts, the client can export it in a number of formats. Belnet may collect aggregated metadata information from data management plans, but will not directly access, make use of, publish or in any way share your plans with anyone else without the permission of the client.</p>

    <h4>Applicable licences on templates and guidance</h4>
    <ul>
      <li>
        <i>DMPonline software</i>
        <p>The DMPonline.be tool is built with open source software called DMPonline, which is developed by the Digital Curation Centre (DCC) and made available under a MIT License. We share the source code of our modified version on <a href="https://github.com/DMPbelgium/roadmap">GitHub</a> under the same license.</p>
      </li>
      <li>
        <i>Templates and guidance</i>
        <p>The client is  free to consult the templates and guidance on this website free of charge.</p>
        <p>DMP templates and guidance are licensed under a Creative Commons Attribution-ShareAlike 4.0 International Public License, unless stated otherwise.</p>
        <p>The thematic DCC guidance is listed in <a href="https://www.dcc.ac.uk/sites/default/files/documents/tools/dmpOnline/DMPonline-admin-interface-guide.pdf">"Using the DMPonline admin interface: a guide to customising the tool"</a>  by S. Jones and DCC, which is licensed under the Creative Commons Attribution 4.0 International Public License.</p>
        <p>The Horizon 2020 template and associated question-specific guidance includes materials from the <a href="https://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/oa_pilot/h2020-hi-oa-data-mgt_en.pdf">"Guidelines on FAIR Data Management in Horizon 2020. Version 3.0 (26 July 2016)"</a>  by the European Commission, which allows reuse of its documents provided the source is acknowledged, and from <a href="https://www.openaire.eu/what-is-the-open-research-data-pilot">"What is the Open Research Data Pilot"</a>  by the OpenAIRE Consortium, licensed under a Creative Commons Attribution 4.0 International Public License.</p>
      </li>
    </ul>

    <h3>Article 3 Exoneration of Belnet</h3>
    <p>Belnet is not liable for incorrect or inaccurate information and does not entitle to financial compensation. The user or a third party cannot held Belnet responsible for any direct or indirect damage, incidental losses, loss of profits caused by his inaccuracy or omission in the updating, the compilation, editing and interpretation of the information. Belnet cannot be held responsible for the temporal breakdown or malfunctioning of the system.</p>

    <h3>Article 4 Links</h3>
    <p>This site contains links to other websites operated by third parties. Belnet does not verify the information they contain. Belnet cannot be hold responsible for the content of these websites.</p>

    <h3>Article 5 Litigation</h3>
    <p>The Belgian law is applicable to these terms of use. The courts of Brussels will be competent.</p>

    <h3>Article 6 Change and update of the disclaimer and the terms of use</h3>
    <p>Belnet may change these terms at any time without prior notice or compensation whatsoever. The amended or updated terms of use will be posted on this site and will be automatically applicable thirty days after the posting.</p>
  </div>
</div>
