<% title _('Terms of use') %>
<div class="row">
  <div class="col-md-12">
    <h1>Disclaimer and terms of use</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div>
      <p>Use of the tool indicates that you understand and agree to these terms and conditions.</p>

      <h3>Limitations of liability</h3>
      <p>
          Although this website has been conceived with the utmost care,
          none of the DMPbelgium Consortium members can accept any liability
          for this website. The aim is for this service to be as complete
          and accurate as possible. However, all the data on this website
          is not necessarily comprehensive, accurate or up to date.
          If you draw our attention to inaccuracies or incompleteness,
          e.g. by sending an email to <a href="mailto:servicedesk@belnet.be?Subject=DMPonline%20Liability">servicedesk@belnet.be</a>,
          we will make the necessary corrections and/or adjustments as quickly as possible.
          As a visitor to this website you agree to these limitations of liability.
      </p>

      <h3>Privacy</h3>
      <p>
         This website does not attempt to violate your privacy.
         What you enter in a DMP is treated as confidential information.
      </p>
      <p>
         Please consult our <a href="https://dmponline.be/privacy">Privacy Policy</a>
         for all information about your personal data and how to contact us with questions.
      </p>

      <h3>Log in</h3>
      <p>
        A number of services on this website require user identification
        which in turn necessitates a valid ORCID account with public email
        address and/or a user account at one of the member institutions
        of the DMPbelgium Consortium.
      </p>

      <h3>Your data management plans and other contributions</h3>
      <p>DMPonline.be is hosted at BELNET, which holds/stores your data management plans on your behalf on secure servers in Belgium.
         However, the plans are your property and responsibility.
      </p>
      <p>The information you enter into DMPonline.be can only be accessed by you, people you choose to share access with (e.g. collaborators),
         and – for the sole purpose of maintaining the service – system administrators appointed by DMPbelgium Consortium. At any point in time,
         you can decide to update or delete (parts of) your information stored by DMPonline.be. If you decide you need to share this information
         in other contexts, you can export it in a number of formats. We may collect aggregated metadata information from data management plans,
         but will not directly access, make use of, publish or in any way share your plans with anyone else without your permission.
      </p>

      <h3>Applicable licences on templates and guidance</h3>
      <p>
        <ul>
          <li>
            <em>DMPonline software</em>
            <p>
               The DMPonline.be tool is built with open source software called DMPonline, which is developed by the Digital Curation Centre (DCC)
               and made available under a MIT License. We share the source code of our modified version on
               <a href="https://github.com/DMPbelgium/roadmap">GitHub</a> under the same license.
            </p>
          </li>
          <li>
            <em>Templates and guidance</em>
            <p>You are free to consult the templates and guidance on this website free of charge.</p>
            <p>DMP templates and guidance are licensed under a Creative Commons Attribution-ShareAlike 4.0 International Public License,
               unless stated otherwise.</p>
            <p>The thematic DCC guidance is listed in <a href="http://www.dcc.ac.uk/sites/default/files/documents/tools/dmpOnline/DMPonline-admin-interface-guide.pdf">“Using the DMPonline admin interface: a guide to customising the tool”</a> by S. Jones and DCC, which is licensed under the Creative Commons Attribution 4.0 International Public License.</p>
            <p>
               The Horizon 2020 template and associated question-specific guidance includes materials from the
               <a href="http://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/oa_pilot/h2020-hi-oa-data-mgt_en.pdf">“Guidelines on FAIR Data Management in Horizon 2020. Version 3.0 (26 July 2016)”</a> by the European Commission, which allows reuse
               of its documents provided the source is acknowledged, and from
               <a href="https://www.openaire.eu/what-is-the-open-research-data-pilot">“What is the Open Research Data Pilot”</a> by the OpenAIRE Consortium, licensed under a Creative Commons Attribution 4.0 International Public License.
            </p>
          </li>
          <li>
            <em>Images, sound and video on this site</em>
            <p>Third parties often exercise limitations of usage on images, sound and video on this site.</p>
          </li>
        </ul>
      </p>

      <h3>Hyperlinks</h3>
      <p>
         Since the website includes hyperlinks to websites managed by third parties,
         DMPbelgium Consortium members do not accept any liability for their content,
         nor for their availability, their actual existence nor for any use that could
         be made of the aforementioned websites. DMPbelgium Consortium members cannot
         be held responsible for any errors in website addresses or domain names on this website.
      </p>
      <p>
         The fact that hyperlinks to other websites are included on our website does not
         signify that we would approve of the information contained on these websites.
      </p>

      <h3>Competent court</h3>
      <p>
         Belgian law is applicable to any and all disputes relating to this website
         and its conditions of use. The court of Brussels has sole jurisdiction in these disputes.
      </p>
    </div>
  </div>
</div>
